/*Header*/
.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
}

.iconLogo {
  width: 100px;
  height: auto;
}

.iconPlus, .iconSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconPlus {
  fill: var(--p1);
}

.iconSearch {
  fill: var(--p3);
}

.bg {
  background-color: var(--bg2);
}

.links {
  color: var(--p1);
  font-size: 16px;
  font-weight: 600;
}
